.collapser
  %form.inline{:method => "post", :action => "/collapse"}
    %input{:name =>"url[full]", :type => "text", :placeholder => "Paste your url"}
    %input.last{:type => "submit", :value => "Collapse It!"}

  - if params[:short]
    - link = link_to "/#{params[:short]}", :full_url
    #d_clip_container
      %h3== Your Collapsed URL: <a href="#{link}"}">#{link}</a> <div id="d_clip_button">Copy to clipboard!</div>

    :javascript
      ZeroClipboard.setMoviePath( "#{link_to "/", :full_url}/swf/ZeroClipboard.swf");
      var clip = null;
  
      function init() {
        clip = new ZeroClipboard.Client();

        clip.setText( "#{link}" );
        clip.addEventListener( 'complete', function(client, text) {
          alert("Copied text to clipboard: " + text );
        } );
        clip.glue( 'd_clip_button', 'd_clip_container' );
      }
